.Category {
  margin-top: 30px;
}

.container {
  max-width: 1248px;
  margin-inline: auto;
}

.categories {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 36px;
  font-weight: 700;
}

.line {
  width: 1248px;
  height: 1px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.25);
}

.list {
  margin-top: 30px;
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}
