.container {
  max-width: 1440px;
  margin-inline: auto;
  margin-top: 30px;
  display: flex;
  padding-top: 70px;
  justify-content: space-between;
  //   gap: 36px;

  &_description {
    width: 400px;
  }
}
.img {
  box-sizing: border-box;
  width: 400px;
  max-height: 400px;
  border-radius: 48px;
  background: rgb(254, 254, 254);
  box-shadow: 0 2px 3px #00000012, 0 2px 3px #0000000f, 0 1px 3px #0000001a;
  padding: 20px;
  align-items: center;
  > img {
    width: 360px;
    max-height: 360px;
    border-radius: 36px;
  }
}
.title {
  margin-top: 30px;
  font-size: 48px;
  font-weight: 700;
}

.subtitle {
  margin-top: 4px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.55);
  font-weight: 600;
}

.description {
  font-size: 20px;
  margin-top: 10px;
  line-height: 1.2;
}

.cart {
  box-sizing: border-box;
  width: 300px;
  height: 400px;
  background: rgb(254, 254, 254);
  border-radius: 28px;
  padding: 24px;
  display: flex;
  color: black;
  flex-direction: column;
  box-shadow: 0 2px 3px #00000012, 0 2px 3px #0000000f, 0 1px 3px #0000001a;
}

.price {
  font-size: 36px;
  font-weight: 700;
}

.size {
  font-size: 16px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.6);
}

.button {
  width: 252px;
  height: 48px;
  border-radius: 12px;
  border: none;
  background: rgb(0, 133, 0);
  cursor: pointer;
  color: white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  // text-transform: uppercase;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: rgb(0, 107, 0);
  }

  &_container {
    margin-top: 244px;
  }
}
