.container {
  margin-top: 30px;
  max-width: 1248px;
  margin-inline: auto;
  margin-bottom: 30px;
}

.input {
  display: flex;
  justify-content: center;
}

.list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

// .pagination {
// }
